# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
indent_size = 2
indent_style = space
end_of_line = lf
insert_final_newline = true

[*.{md,py,vim,vroom}]
max_line_length = 80

[*.{py,vim}]
quote_type = single
